{{ 'css-section-ourteam.css' | asset_url | stylesheet_tag }}
{%- assign nav = block.settings.navigation -%}
{%- assign infinite = block.settings.infinite -%}
{%- assign autoplay = block.settings.autoplay -%}
{%- assign autoplay_speed = block.settings.autoplay_speed | escape -%}
{%- assign columns = block.settings.columns -%}
{%- assign column1440 = block.settings.column1440 -%}
{%- assign column1 = block.settings.column1 -%}
{%- assign column2 = block.settings.column2 -%}
{%- assign column3 = block.settings.column3 -%}
{%- assign column4 = block.settings.column4 -%}
{% assign margin 			= block.settings.margin | split: "|" %}
{% assign padding 			= block.settings.padding | split: "|" %}
<style>
      {%- if margin[0] != blank or padding[0] != blank -%}
		#shopify-block-{{ block.id }} .wpbingo-widget--ourteam{
			{%- if margin[0] != blank -%}margin: {{ margin[0] }};{%- endif -%}
			{%- if padding[0] != blank -%}padding:{{ padding[0] }};{%- endif -%}
		}
	{%- endif -%}
	{%- if margin[1] != blank or padding[1] != blank -%}
		@media (max-width:1199px){
			#shopify-block-{{ block.id }} .wpbingo-widget--ourteam{
				{%- if margin[1] != blank -%}margin: {{ margin[1] }};{%- endif -%}
				{%- if padding[1] != blank -%}padding:{{ padding[1] }};{%- endif -%}
			}
		}
	{%- endif -%}
	{%- if margin[2] != blank or padding[2] != blank -%}
		@media (max-width:991px){
			#shopify-block-{{ block.id }} .wpbingo-widget--ourteam{
				{%- if margin[2] != blank -%}margin: {{ margin[2] }};{%- endif -%}
				{%- if padding[2] != blank -%}padding:{{ padding[2] }};{%- endif -%}
			}
		}
	{%- endif -%}
	{%- if margin[3] != blank or padding[3] != blank -%}
		@media (max-width:767px){
			#shopify-block-{{ block.id }} .wpbingo-widget--ourteam{
				{%- if margin[3] != blank -%}margin: {{ margin[3] }};{%- endif -%}
				{%- if padding[3] != blank -%}padding:{{ padding[3] }};{%- endif -%}
			}
		}
	{%- endif -%}
</style>
{% content_for "block", type: "custom-ourteam", id: "custom-ourteam" %}
<div class="wpbingo-block wpbingo-widget--ourteam overflow-hidden wpbingo-block--{{ block.id }}">
    <div class="wpbingo-section__content bwp_slider-carousel">
          <div class="js-carousel slick-carousel" data-nav="{{ nav }}" data-infinite="{{ infinite }}"
              data-autoplay="{{ autoplay }}"
              data-autoplayspeed="{{ autoplay_speed }}"
              data-columns="{{ columns }}"
              data-column1440="{{ column1440 }}"
              data-column1="{{ column1 }}"
              data-column2="{{ column2 }}"
              data-column3="{{ column3 }}"
              data-column4="{{ column4 }}">
                 {% content_for "blocks" %}
          </div>
    </div>
</div>
{% schema %}
  {
    "name": "Ourteam",
    "blocks": [{ "type": "_ourteam-item" }],
    "settings": [
         {
			"type": "textarea",
			"id": "padding",
			"label": "Padding",
			"placeholder": "0px 0px 0px 0px",
			"info":"Screen: desktop | 1200px | 991px | 767px"
		},
		{
			"type": "textarea",
			"id": "margin",
			"label": "Margin",
			"placeholder": "0px 0px 0px 0px",
			"info":"Screen: desktop | 1200px | 991px | 767px"
		},
        {
    		"type": "header",
    		"content": "Carousel Settings"
        },
        {
    		"type": "checkbox",
    		"id": "navigation",
    		"label": "Show navigation",
    		"default": true
        },
        {
    		"type": "checkbox",
    		"id": "infinite",
    		"label": "Infinite loop sliding",
    		"default": true
        },
        {
    		"type": "checkbox",
    		"id": "autoplay",
    		"label": "Enable autoplay",
    		"default": false
        },
        {
    		"type": "text",
    		"id": "autoplay_speed",
    		"label": "Autoplay speed",
    		"info": "Autoplay speed in milliseconds. Type: int(ms)",
    		"default": "10000"
        },
        {
    		"type": "range",
    		"id": "columns",
    		"min": 1,
    		"max": 5,
    		"step": 1,
    		"label": "Number of Columns >1440px",
    		"default": 4,
    		"info": "Desktops"
    	},
    	{
    		"type": "range",
    		"id": "column1440",
    		"min": 1,
    		"max": 5,
    		"step": 1,
    		"label": "Number of Columns 1200px to 1440px",
    		"default": 4,
    		"info": "Desktops"
    	},
    	{
    		"type": "range",
    		"id": "column1",
    		"min": 1,
    		"max": 5,
    		"step": 1,
    		"label": "Number of Columns on 992px to 1199px",
    		"default": 4,
    		"info": "Desktops"
    	},
    	{
    		"type": "range",
    		"id": "column2",
    		"min": 1,
    		"max": 5,
    		"step": 1,
    		"label": "Number of Columns on 768px to 991px",
    		"default": 3,
    		"info": "Laptop"
    	},
    	{
    		"type": "range",
    		"id": "column3",
    		"min": 1,
    		"max": 5,
    		"step": 1,
    		"label": "Number of Columns on 480px to 767px",
    		"default": 1,
    		"info": "Tablets"
    	},
    	{
    		"type": "range",
    		"id": "column4",
    		"min": 1,
    		"max": 5,
    		"step": 1,
    		"label": "Number of Columns in 480px or less than",
    		"default": 1,
    		"info": "Mobile phone"
    	}
    ],
    "presets": [
        {
            "name": "Ourteam",
            "blocks": [
              {
                  "type": "_ourteam-item",
              },
              {
                  "type": "_ourteam-item",
              },
              {
                  "type": "_ourteam-item",
              },
              {
                  "type": "_ourteam-item",
              }
           ]
        }
    ]
  }
{% endschema %}